html {
    font-size:  16px;
}

:root {
    --primary-green: rgb(0,105,62);
    
    /* secondary colors */
    --forest-green: rgb(18,49,43);
    --white: rgb(255,255,255);
    --black: rgb(0,0,0);
    --web-gray-1: rgb(247,247,247);
    --web-gray-2: rgb(226,226,226);
    --granite-gray: rgb(66,65,65);
    --bonfire-orange: #ffa00f;
}

/* Pane Layout and Overall Formatting */

header {
    height: 7rem;
    background-color: var(--primary-green);
    box-sizing: border-box;
    font-family: sans-serif;
}
.main-content {
    display: grid;
    grid-template-columns: 20% 1fr 20%; 
    grid-template-rows: 1fr;
    height: calc(100vh - 7rem);
    justify-items: stretch;
    align-items: stretch;
    font-family: sans-serif;
}

.projects-pane {
    background-color: var(--granite-gray);
}

.tasks-pane {
    background-color: var(--white);
}

.details-pane {
    background-color: var(--web-gray-2);
}
/* Header Formatting */

header {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

header h1 {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

/* Projects Pane Formatting */

.projects-pane {
    padding: 2rem 1.5rem;
}

.projects-pane h1 {
    color: var(--white);
    font-size: 2.5rem;
    font-weight: bold;
}
.projects-pane .projects-container {
    width: 100%;
    margin: 0 auto;
}

.projects-pane .project {
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius: 2px;
    padding: 0.6rem 0.6rem;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 1.3rem;
    color: rgb(180,180,180);
}

.projects-pane .project:hover {
    cursor: pointer;
    background-color: rgb(85,85,85);
}

.projects-pane .project.selected-project {
    background-color: rgb(85,85,85);
    color: var(--white);
}

.projects-pane .add-project-button {
    background-color: var(--granite-gray);
    border: none;
    color: white;
    font-size: 1.3rem;
    border-radius: 2px;
    padding: 0.5rem 0.5rem;
    text-align: right;
    float:right;
}

.projects-pane .add-project-button:hover {
    background-color: rgb(85,85,85);
    cursor: pointer;
}

.projects-pane .add-project-button .plus-icon{
   color: var(--bonfire-orange);
   font-weight: bold;
   font-size: 1.4rem;
}


/* Tasks Pane Formatting */

.tasks-pane {
    padding: 2rem 2rem;
}
.tasks-pane .tasks-pane-header {
    color: var(--black);
    font-size: 1.3rem;
}

/* Details Pane Formatting */

.details-pane {
    padding: 2rem 2rem;
}