html {
    font-size:  16px;
}
.using-mouse :focus {
    outline: none;

}
:root {
    --primary-green: rgb(0,105,62);
    
    /* secondary colors */
    --forest-green: rgb(18,49,43);
    --white: rgb(255,255,255);
    --black: rgb(0,0,0);
    --web-gray-1: rgb(247,247,247);
    --web-gray-2: rgb(226,226,226);
    --granite-gray: rgb(66,65,65);
    --bonfire-orange: #ffa00f;
}

/* Pane Layout and Overall Formatting */

header {
    height: 7rem;
    background-color: var(--primary-green);
    box-sizing: border-box;
    font-family: sans-serif;
}
.main-content {
    display: flex;

    height: calc(100vh - 7rem);
    justify-items: stretch;
    align-items: stretch;
    font-family: sans-serif;
}

.projects-pane {
    background-color: var(--granite-gray);
    width: 20%;
}

.tasks-pane {
    background-color: var(--white);
    flex-grow: 1;
}

.details-pane {
    background-color: var(--web-gray-2);
    width: 20%;
}
/* Header Formatting */

header {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

header h1 {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

/* Projects Pane Formatting */

.projects-pane {
    padding: 2rem 1.5rem;
}

.projects-pane .projects-container {
    width: 100%;
    margin: 0 auto;
}

.projects-pane .project {
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius: 2px;
    padding: 0.6rem 0.6rem;
    height: 2.5rem;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 1.3rem;
    color: rgb(180,180,180);
}

.projects-pane .project:hover, .project-adder:hover, .project-adder:hover input[type="text"] {
    cursor: pointer;
    background-color: rgb(85,85,85);
}



.projects-pane .project.selected-project {
    background-color: rgb(85,85,85);
    color: var(--white);
}
.projects-pane .project-adder {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: 2.5rem;
    border-radius: 2px;
}

.projects-pane .project-adder .add-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem 0.1rem 0;
    width: 2.5rem;
    box-sizing: border-box;
    height: 100%;
    color: rgb(130,130,130);
    font-size: 1.8rem;
    color: var(--bonfire-orange);
    font-weight: 500;
}
.projects-pane .project-adder .new-project-textbox {
    margin-left: 0.3rem;
    flex-grow: 1;
    font-size: 1.1rem;
    border: none;
    height: 100%;
    background-color: var(--granite-gray);
    color: white;
    box-sizing: border-box;
    min-width: 0;
}

.projects-pane .project-adder .new-project-textbox::placeholder {
    color: var(--web-gray-2);
    opacity: 1;
}


/* Tasks Pane Formatting */

.tasks-pane {
    padding: 2rem 2rem;
}
.tasks-pane .tasks-pane-header {
    color: var(--black);
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.tasks-pane .tasks-container {
    display: flex;
    flex-direction: column;
}

.tasks-pane .tasks-container .task {
    margin-bottom: -1px;
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    border-top: 1px solid var(--web-gray-2);
    border-bottom: 1px solid var(--web-gray-2);
    display: flex;
}

.tasks-pane .tasks-container .task:hover {
    cursor: pointer;
    background-color: var(--web-gray-1);
}

.tasks-pane .tasks-container .task-checkbox-container {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0 0.5rem;
    box-sizing: border-box;
    width: 2.5rem;
}


.tasks-pane .task-checkbox-container input[type="checkbox"] {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 50%;
    height: 1.3rem;
    width: 1.3rem;
    border: 1px solid black;
    position: relative;
}

.tasks-pane .task-checkbox-container input[type="checkbox"]:hover {
    cursor: pointer
}

.tasks-pane .task-checkbox-container input[type="checkbox"]::after {
    background-image: url("images/check.png");
    background-repeat: no-repeat;
    background-size: 0.7rem;
    background-position: 50% 50%;
    border-radius: 50%;
    height: calc(1.1rem - 2px);
    width: calc(1.1rem - 2px);
    content: "";
    display: inline-block;
    position: absolute;
    left: 0.1rem;
    top: 0.1rem;
    visibility: hidden;
}
.tasks-pane .task-checkbox-container input[type="checkbox"]:checked::after {
    visibility: visible;
}
.tasks-pane .task-checkbox-container input[type="checkbox"]:checked {
  background-color: var(--forest-green);
}

.task-content {
    margin-left: 0.5rem;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-content .task-title {
    font-size: 1.1rem;
}

.task-content .due-date {
    margin-top: 0.3rem;
    font-size: 0.75rem;
    color: rgb(90,90,90);
}
.task .important-rating {
    margin-right: 0.5rem;
}
.task .important-rating input[type="checkbox"] {
    -webkit-apperance: none;
    appearance: none;
}
.task .important-rating input[type="checkbox"]::after {
    content: "★";
    font-size: 1.2rem;
    color: rgb(160,160,160);
}
.task .important-rating input[type="checkbox"]:hover {
   cursor: pointer;
}

.task .important-rating input[type="checkbox"]:checked::after {
    color: var(--bonfire-orange);
}


.tasks-pane .task-adder {
    display: flex;
    box-sizing: border-box;
    height: 4rem;
    align-items: center;
}

.tasks-pane .task-adder .add-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem 0.1rem 0;
    width: 2.5rem;
    box-sizing: border-box;
    height: 100%;
    color: rgb(130,130,130);
    font-size: 2rem;
    font-weight: 500;
}
.tasks-pane .task-adder .new-task-textbox {
    margin-left: 0.5rem;
    flex-grow: 1;
    font-size: 1.1rem;
    border: none;
    height: 100%;
}
/* Details Pane Formatting */
.details-pane {
    position: relative;
}

.details-pane .details-section {
    padding: 1rem 1rem;
}

.details-pane-title {
    text-align: center;
    font-size: 1.3rem;
    color: white;
    border-radius: 1px;
    padding: 0.3rem 0rem;
    box-sizing: border-box;
    background-color: var(--primary-green);
    margin-bottom: 0.5rem;
}

.details-pane .detail-container {
    display: flex;
    border-radius: 1px;
    background-color: var(--white);
    box-sizing: border-box;
    height: 2.5rem;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
}

.details-pane .detail-container .detail-icon {
    height: 2.2rem;
    width: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-pane .detail-container .detail-icon img {
    width: 40%;

}
.details-pane .detail-container .detail {
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.details-pane .detail-description {
    font-size: 0.8rem;
    padding: 1rem;
    border-radius: 1px;
    background-color: var(--white);
    min-height: 4rem;
}

.details-options {
    padding: 0.3rem;
    border-top: 1px solid rgb(200,200,200);
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;  
}

.details-options button {
    border: none;
    height: 1.8rem;
    width: 1.8rem;
    overflow: hidden;
    font-size: 0.4rem;
    background-color: (var(--web-gray-2));
}

.details-options button:hover {
    background-color:rgb(240,240,240);
}

.details-options img {
    width: 100%;
    object-fit: cover;
}

/* Edit Task Information Modeal */

.bg-modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: flex;
    visibility: hidden;
}
.modal-content {
    width: 20rem;
    background-color: white;
    border-radius: 0.2rem;
    position: relative;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
}
.modal-content h2 {
    font-size: 1.2rem;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.bg-modal form > div.input-wrapper {
    margin-top: 1.2rem;
    font-size: 0.9rem;
}

.input-wrapper label {
    display: block;
    margin-bottom: 0.3rem;
}

.input-wrapper > input, .input-wrapper > select {
    font-size: 0.9rem;
    width: 100%;
    height: 1.9em;
    box-sizing: border-box;
    border: none;
    background-color: rgb(235,235,235);
    border-radius: 1px;
    padding-left: 0.3rem;
    margin: 0;
    font-family: sans-serif;
}

.input-wrapper > textarea {
    font-size: 0.9rem;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100%;
    height: 4.7rem;
    border: none;
    background-color: rgb(235,235,235);
    padding-left: 0.3rem;
    border-radius: 1px;
    margin: 0;
    resize: vertical;
    overflow: auto;

}

.modal-buttons {
    margin-top: 1.3rem;
    text-align: right;
}

.modal-buttons button {
    display: inline-block;
    margin-left: 0.4rem;
    display: inline-block;
    font-size: 0.8rem;
    border: none;
    padding: 0.5rem 1.0rem;
    font-weight: bold;
    border-radius: 0.2rem;
    cursor: pointer;
}
.submit {
    background-color: var(--primary-green);
    color: white;
}
.cancel {
    background-color: #EEE;
    color: black;
}

.close {
    position: absolute;
    top: 0.3rem;
    right: 1.4rem;
    font-size: 2.5rem;
    transform: rotate(45deg);
    user-select: none;
    -webkit-user-select: none;
    color: darkgray;
}

.close:hover {
    filter: brightness(110%);
}
